<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.valhalla.studiac">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.valhalla.studiac.activities.MessageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.valhalla.studiac.activities.MessengerActivity"
            android:label="View Messages"
            android:parentActivityName="com.valhalla.studiac.activities.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.valhalla.studiac.activities.BulletinBoardActivity"
            android:label="Bulletin Board"
            android:parentActivityName="com.valhalla.studiac.activities.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.valhalla.studiac.activities.CreateAccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.valhalla.studiac.activities.ForgotPasswordActivity" />
        <activity android:name="com.valhalla.studiac.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.valhalla.studiac.activities.ProfileSetupActivity" />
        <activity android:name="com.valhalla.studiac.activities.ProfileSetup2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.valhalla.studiac.activities.DashboardActivity"
            android:label="Dashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.valhalla.studiac.activities.ViewRoutineActivity"
            android:label="View Routine"
            android:parentActivityName="com.valhalla.studiac.activities.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.valhalla.studiac.toolbars.NavigationToolbarBlue" />
        <activity android:name="com.valhalla.studiac.toolbars.NavigationToolbarWhite" />
        <activity
            android:name="com.valhalla.studiac.activities.ViewCoursesActivity"
            android:label="View Courses"
            android:parentActivityName="com.valhalla.studiac.activities.DashboardActivity">
        </activity>
        <activity
            android:name="com.valhalla.studiac.activities.TodoTaskActivity"
            android:label="To do Tasks"
            android:parentActivityName="com.valhalla.studiac.activities.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.valhalla.studiac.activities.StartAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>